{% include 'layout/base.html' %}
{% load staticfiles %}
{% load static %}


<section>
  <div class="jumbotron" id="mainpage" data-spy="scroll">

    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="imgplace" style="margin: 1em;">
          <img id="idalis" class="imagesaya" src="{% static 'images/profile.jpg' %}" alt="Alya Isti" width="300px" height="300px">

        </div>
        Undergraduate Information System student <br> Faculty of Computer Science, Universitas Indonesia
      </div>
      <div class="col-md-6 col-sm-12" style="padding-top:5em;">
        <p class="description" style="font-size: 15px;">Hi! I'm <em> Alya Isti. </em><br>
          A tech-enthusiast and motivated team player who is eager in learning new things and strives to enhance her skills in real-world problems. Currently looking for an internship in Technology especially web development, Marketing, and Business related fields to gain more knowledge. <br>
        </p>
        <p class="description" style="font-size: 15px;">I usually code at midnight. My passion is to create stunning, stylish, modern websites. I am learning to be a better web developer in the future.
        </p>
        <p class="description" style="font-size: 15px;">
          By the way, I make songs! Jump <a target=_blank" href="https://instagram.com/twin.brows"><kbd>here</kbd></a> to see.
        </p>
      </div>

    </div>

  </div>
</section>
