{% include 'layout/base.html' %}
{% load staticfiles %}
{% load static %}



<div class=" jumbotron" id="secondpage" data-spy="scroll" data-target="#navbar-example2" data-offset="0">
  <img class="descriptions" src="http://www.calstatela.edu/sites/default/files/groups/Career%20Development%20Center/Images/self_assessment.png" alt="aboutme" width="200px" height="200px">
  <h2>ABOUT ME</h2>
  <h3>I am {{ myAge }} years old. <br>
    Born at 23rd June 2000.<br>
    Born in Jakarta. <br>
    An ENFP.</h3>
  <h3>
    <h3>I make melodies.
      Jump <a target=_blank" href="https://instagram.com/twin.brows"><kbd>here</kbd></a> to see.</h3>

    <div class="skill-left p-80px-r md-p-40px-r sm-p-0px-r sm-m-40px-b">
      <p>My passion is to to create amazing, stylish, modern websites for the best user experience. I code usually at midnight.
        I am learning to be a better web developer in the future. Focusing on learning new framework. Currently learning ReactJS and
      </p>

    </div>




</div>
