{% include 'layout/base.html' %}
{% load staticfiles %}
{% load static %}
<style>


</style>
<script src="{% static 'js/main.js'%}"></script>
<div class="jumbotron" id="fourthpage">
  <h2 style="padding-bottom: 1em;">EDUCATION</h2>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div id="imgeducation">
        <img src="{% static 'images/pencils.jpeg' %}" alt="">
      </div>

    </div>
    <div class="col-md-6 col-sm-12">
      <ul class="timeline">
        <li class="event hidethis">
          <img src="{% static 'images/tk-kartini.png' %}" style="width: auto; height: 5em; " alt="" class="img-fluid img-activity rounded">
          <div class="d-flex flex-row">
            <h3><strong>TK Kartini</strong></h3>
            <p>2004-2006</p>
          </div>

        </li>
        <li class="event hidethis ">
          <img src="{% static 'images/sd-alpus.png' %}" style="width: 5em; height: 5em;" alt="" class="img-fluid img-activity rounded">
          <h3><strong>SD Islam Al-Azhar 1 Pusat</strong></h3>
          <p>2006-2012</p>
        </li>
        <li class="event hidethis">
          <img src="{% static 'images/smp-alpus.png' %}" style="width: auto; height: 5em;" alt="" class="img-fluid img-activity rounded">
          <h3><strong>SMP Islam Al-Azhar 1 Pusat</strong></h3>
          <p>2012-2014</p>
        </li>
        <li class="event hidethis">
          <img src="{% static 'images/sman78.jpeg' %}" style="width: 5em; height: 5em;" alt="" class="img-fluid img-activity rounded">
          <h3><strong>SMAN 78 Jakarta</strong></h3>
          <p>2014-2017</p>
        </li>
        <li class="event hidethis">
          <img src="{% static 'images/fasilkom.png' %}" style="width: 5em; height: 5em;" alt="" class="img-fluid img-activity rounded">
          <h3><strong>Universitas Indonesia</strong></h3>
          <p>Information System</p>
          <p>2017-Now</p>
        </li>
      </ul>
    </div>
  </div>


</div>
