{% include 'layout/base.html' %}
{% load staticfiles %}
{% load static %}

<script src="{% static 'js/main.js'%}"></script>
<div class="jumbotron" id="seventhpage">
  <h2>EXPERIENCES</h2><br>
  <div class="row">
    <h2>Committee and Volunteer Experiences</h2>
    <div class="col-md-4 experiencecard hidethis">
      <img src="{% static 'images/oh-fasilkom.png' %}" alt="" class="img-fluid img-activity rounded">
      <p>Member of Public Relations & Publication</p>
    </div>
    <div class="col-md-4 experiencecard hidethis">
      <img src="{% static 'images/cgt25.png' %}" alt="" class="img-fluid img-activity rounded">
      <p>Member of Event</p>
    </div>
    <div class="col-md-4 experiencecard hidethis">
      <img src="{% static 'images/cgt26.jpg' %}" alt="" class="img-fluid img-activity rounded">
      <p>Person in Charge of HRD</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 experiencecard hidethis">
      <img src="{% static 'images/universiade-ui.jpg' %}" alt="" class="img-fluid img-activity rounded">
      <p>Vice Person in Charge of Publication</p>
    </div>
    <div class="col-md-4 experiencecard hidethis">
      <img src="{% static 'images/aiesec-ui-logo.png' %}" style="width: 100%;" alt="" class="img-fluid img-activity rounded">
      <p>Exchange Participant Buddy</p>
    </div>
    <div class="col-md-4 experiencecard hidethis">
      <img src="{% static 'images/compfest-x.jpg' %}" alt="" class="img-fluid img-activity rounded">
      <p>Seminar</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 experiencecard hidethis">
      <img src="{% static 'images/teater-pandora.jpeg' %}" alt="" class="img-fluid img-activity rounded">
      <p>Marketing</p>
    </div>
    <div class="col-md-4 experiencecard hidethis">
      <img src="{% static 'images/wisgan.jpeg' %}" alt="" class="img-fluid img-activity rounded">
      <p>Vice Project Officer</p>
    </div>
    <div class="col-md-4 experiencecard hidethis ">
      <img src="{% static 'images/pmb.jpg' %}" alt="" class="img-fluid img-activity rounded">
      <p>Medical</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 experiencecard hidethis">

    </div>
    <div class="col-md-4 experiencecard hidethis">
      <img src="{% static 'images/youthmanual.jpg' %}" alt="" class="img-fluid img-activity rounded">
      <p>Mentor</p>
    </div>

  </div>






  <div class="row">
    <h2>Organization Experiences</h2>
    <div class="col-md-4 experiencecard hidethis">
      <img src="{% static 'images/bem-fasilkom.png' %}" style="width: 5em; height: 5em;" alt="" class="img-fluid img-activity rounded">
      <p>Business and Partnership Bureau</p>
    </div>
    <div class="col-md-4 experiencecard hidethis">
      <img src="{% static 'images/dpm-fasilkom.jpg' %}" style="width: 5em; height: 5em;" alt="" class="img-fluid img-activity rounded">
      <p>Steering Committee</p>
    </div>
    <div class="col-md-4 experiencecard hidethis">
      <img src="{% static 'images/asciipella.png' %}" style="width: 5em; height: 5em;" alt="" class="img-fluid img-activity rounded">
      <p>Head of Instrument Division</p>
    </div>
  </div>
</div>
