{% include 'layout/base.html' %}
{% load staticfiles %}
{% load static %}

<style>
  @keyframes jump {
    0% {
      top: 0;
    }

    50% {
      top: 50px;
    }

    100% {
      top: 0;
    }
  }

</style>

<div class="header" id="header">
  <h1 id="myname"><strong>Alya Isti Safira</strong></h1>
  <h3>Tech-Enthusiast | Web Developer | Future Business Developer </h3>
  <a href="https://drive.google.com/file/d/1o9TGf_7ND67hF_tRvZbYYhpr0TO-mnhE/view?usp=sharing" class="btn btn-dark" role="button">DOWNLOAD CV</a>
  <a href="#tenthpage" class="btn btn-dark" role="button">CONTACT ME</a>


</div>
