{% include 'layout/base.html' %}
{% load staticfiles %}
{% load static %}


<section>
  <div class="jumbotron" id="sixthpage">
    <h2 style="padding-bottom: 1em;">PORTFOLIO</h2>
    <div class="row no-gutters">
      <div class="col-lg-6 hidethis" id="cardporto">
        <a class="portfolio-item" href="#">
          <span class="caption">
                      <span class="caption-content">
                          <a href="https://tokpedai.herokuapp.com" class="btn btn-dark" role="button"><h2 style="color: white;"> Tokopedia AI Center</h2></a>
                        <p class="mb-0" style="color:gray;">Tokopedia Artificial Intelligence Center of Excellence Company Page</p>
                        <a href="https://gitlab.com/ciferivalle/tokopedia-ai-center" class="btn btn-dark" role="button">Source</a>
                        
                      </span>

          </span>

        </a>
      </div>

    </div>

  </div>
</section>
