{% include 'layout/base.html' %}
{% load staticfiles %}
{% load static %}

<section class="section skill-section">
  <div class="jumbotron" id="fifthpage">
    <h2 id=skill>PROGRAMMING SKILLS</h2>
    <div class="row" style="margin-top: 2em;">
      <div class="col-md-6 col-sm-12">
        <p id="skillname">Python</p>
        <div class="container">
          <div class="skills python">70%</div>
        </div>

        <p id="skillname">Java</p>
        <div class="container">
          <div class="skills java">75%</div>
        </div>
        <p id="skillname">C</p>
        <div class="container">
          <div class="skills clanguage">45%</div>
        </div>
        <p id="skillname">PHP</p>
        <div class="container">
          <div class="skills php">55%</div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">

        <p id="skillname">HTML</p>
        <div class="container">
          <div class="skills html">80%</div>
        </div>
        <p id="skillname">CSS</p>
        <div class="container">
          <div class="skills css">70%</div>
        </div>
        <p id="skillname">Javascript</p>
        <div class="container">
          <div class="skills javascript">65%</div>
        </div>
        <p id="skillname">PostgreSQL</p>
        <div class="container">
          <div class="skills postgresql">70%</div>
        </div>

      </div>

    </div>

  </div>
</section>
