{% include 'layout/base.html' %}
{% load staticfiles %}
{% load static %}

<div class="footer" id="eleventhpage">
  <div class="flex-footer">
    <h3>Let's get in touch.</h3>
    <div class="containercontacts">
      <a href="mailto:safiraalya@gmail.com" target="_blank"><img class="imgcontact" src="{%static 'images/email.png' %}" alt="Email" width="40px" height="40px"></a>
      <a href="https://www.facebook.com/alyaisti.safira" target="_blank"><img class="imgcontact" src="https://i.imgur.com/yZ7JzXV.png" alt="Facebook"></a>
      <a href="https://www.instagram.com/alyaisti/" target="_blank"><img class="imgcontact" src="https://i.imgur.com/zxrMOJ8.png" alt="Instagram"></a>
      <a href="https://line.me/ti/p/alyasfr" target="_blank"><img class="imgcontact" src="{%static 'images/line.png' %}" alt="Line"></a>
      <a href="https://gitlab.com/alyaisti/" target="_blank"><img class="imgcontact" src="https://i.imgur.com/emwnZr0.png" alt="Gitlab"></a>
      <a href="https://www.linkedin.com/in/alyaisti/" target="_blank"><img class="imgcontact" src="https://i.imgur.com/ujmQbW9.png" alt="LinkedIn"></a>
    </div>
  </div>
</div>
