{% load staticfiles %}
{% load static %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script type="text/javascript" src="{% static 'js/navbar.js' %}"></script>

<script>
  $(document).ready(function () {
    var scrollTop = 0;
    $(window).scroll(function () {
      scrollTop = $(window).scrollTop();
      $('.counter').html(scrollTop);

      if (scrollTop >= 100) {
        $('#global-nav').addClass('scrolled-nav');
      } else if (scrollTop < 100) {
        $('#global-nav').removeClass('scrolled-nav');
      }

    });

  });

</script>

<link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css'%}">

<div id="nav-placeholder">

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#header">Home</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="#mainpage">About</a></li>
          <li><a href="#fourthpage">Education</a></li>
          <li><a href="#seventhpage">Experiences</a></li>
          <li><a href="#fifthpage">Skills</a></li>
          <li><a href="#sixthpage">Portfolio</a></li>
          <li><a href="#ninthpage">Achievements</a></li>
        </ul>
      </div>
  </nav>




</div>
