body {
  padding-top: 150px;
}
/* 
#global-nav {
  position: fixed;
  top: 0;
  z-index: 9999;
  height: 150px;
  width: 100%;
  background: #324c5f;
  color: #fff;
  line-height: 150px;
    -webkit-transition: height .5s, line-height .5s;
    transition: height .5s, line-height .5s;
} */
/* 
.site-title {
  display: inline-block;
  -webkit-transition: all .5s;
    transition: all .5s;
}

.scrolled-nav .site-title  {
  font-size: 16px;
}

.nav-list {
  list-style: none;
}

.nav-list li {
  list-style: none;
  display: inline-block;
  padding-left: 20px;
}

.hero-section,
.content-section {
  height: 500px;
  padding: 100px;
}

.hero-text,
.content-text {
  max-width: 550px;
}

.hero-section h1 {
  color: #333;
}

.hero-section p {
  color: #333;
}

.content-section {
  background: aqua;
}

.scrolled-nav {
  height: 60px !important;
  line-height: 60px !important;
}

.counter {
  width: 20px;
  height: 20px;
  background: black;
  color: #fff;
  position: fixed;
  top: 120px;
  right: 0;
}

footer {
  height: 200px;
  background: #333;
  color: #fff;
  padding-top: 40px;
} */

.navbar {
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar a {
    display: inline-block;
    color: #F9F5F3;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 15px;
    z-index: 1000;
}

.navbar-inverse {
  background-color: #222;
  border-color: #080808;
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


