/* Make sure that padding behaves as expected */
* {
  box-sizing:border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  
}

.header, body {
    /*font-family: 'Montserrat', sans-serif !important;*/
    /* font-family: 'Kosugi Maru', sans-serif; */
    font-family: 'Poppins', sans-serif !important;
    overflow-x: hidden;
  }

  
h3{
    font-size: 20px;
    line-height: 24px;}

.header{
    color: white;
    /*background-image: linear-gradient(to bottom, white, #F6118D );*/
    font-size: 80%;
    padding: 8%;
    text-align: left;
    display: block;
    background-image: url("https://i.imgur.com/RSYsjbw.jpg");
    

    /*center and scale the image nicely*/
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    background-color: transparent;
    min-height: 500px;
    padding-top: 245px;
    padding-bottom: 245px;

    /*set the parallax*/
    background-attachment: fixed;

}

.header h1{font-size: 60px;}

.header a{font-size: 1em; padding: 9px;color: white;}

#imageawal{float:right;}

.imagesaya{
  margin-top:2%;
  border-radius: 50%;
  object-fit: cover;
  box-sizing: border-box;
  /**box-shadow: 5px 5px;*/
}

@media screen and (max-width: 404px){
    .imagesaya{
        margin-top:2%;
        border-radius: 50%;
        object-fit: cover;
        box-sizing: border-box;
        width: 200px;
        height: 200px;
        /**box-shadow: 5px 5px;*/
    }

  }
body{
    /*background-image: url("https://i.imgur.com/ECXdRTo.jpg");*/
    background-repeat: no-repeat;
    background-attachment: fixed;  
}


.navbar {
    overflow: hidden;
    overflow-x: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    
    color: #F9F5F3;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 15px;
    float: right;
}

.navbar a:hover {
background: #ddd;
color: black;
}


/*Back to the top button*/

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #F1CE53;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
  transition: .5s;
}


.hidethis {
  opacity: 0;
}


.jumbotron{
    text-align: center;
    margin: 0%;
    padding: 10%;
}



#mainpage{
    padding: 8%;
    color: white;
    text-align: center;
    background-color: black;

}



/*To design the background and font color in each page*/
#secondpage{
    background-color: darkgrey;
    color: maroon;
}

#thirdpage{
    background-color: gray;
    color: black;
}

#fourthpage{
    /* background-color: maroon;
    color: white; */
    background-color: white;
}



#fifthpage{
    background-color: white;
    background-size: cover;
    -webkit-background-size: cover;
    background-position: 50% 50%;
    text-align: right;
    /*width: 800px;*/
    margin: 0 auto;
    
}

#fifthpage h2{text-align: center;}

#fifthpage p{text-align: left;}

.container{
    width: 100%;
    background-color: black;

}

#cardporto {
        
  background: linear-gradient(rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.8)),
    url("../images/pencils.jpeg") no-repeat;
    
    

}

.skills {
    padding: 0 0 0 10px;
    color: white;
    background-color: black;
    height: 25px;
    font-size: 14px;
    line-height: 25px;
}

/*Skills bar*/
/* .typing {width: 75%; background-image: linear-gradient(to right, black, gray);} 
.publicspeaking {width: 85%; background-image: linear-gradient(to right, black, gray);} 
.onlinemarketing {width: 85%; background-image: linear-gradient(to right, black, gray);}
.eventorganizing {width: 80%; background-image: linear-gradient(to right, black, gray);} */
/* .english {width: 90%; background-image: linear-gradient(to right, black, gray);} 
.korean {width: 75%; background-image: linear-gradient(to right, black, gray);} */
.python {width: 70%; background-image: linear-gradient(to right, black, gray);} 
.java {width: 75%; background-image: linear-gradient(to right, black, gray);}
.html {width: 80%; background-image: linear-gradient(to right, black, gray);}
.css {width: 70%; background-image: linear-gradient(to right, black, gray);} 
.javascript {width: 65%; background-image: linear-gradient(to right, black, gray);}
.clanguage {width: 45%; background-image: linear-gradient(to right, black, gray);}
.php {width: 55%; background-image: linear-gradient(to right, black, gray);}
.postgresql {width: 70%; background-image: linear-gradient(to right, black, gray);}



#sixthpage{
    /* background-color: #F1CE53; */
    
    background-color: maroon;
    text-align: center;
    color: white;
}



.flex-container{
    display: flex;
    background-color: transparent;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;


}

.flex-container > div {
    background-color: #f1f1f1;
    padding: 3%;
    margin: 5px;
    line-height: 75px;
}

.flex-container .experienceorganization{
    padding: 5.5% 3%;
}


#seventhpage{
  background-color:white;
  text-align: center;
  color: black;
}


.experiencecard{
  margin-top:2em;
  margin-bottom:2em;
}

.experiencecard img{
  width: 5em; 
  height: 5em; 
  margin: 1em;
}

#eightpage{
    background-color: darkgray;
    text-align: center;
    color: black;
}

.imagesong{margin: 2%;}

#ninthpage{
    background-image: linear-gradient(to bottom,  #D9DCE1, #E7E9E4);
    color: maroon;
    
}

#ninthpage h4{ padding: 2%}

#tenthpage{
    background-image: url("https://i.imgur.com/IaZfVRb.jpg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    background-color: transparent;
    min-height: 500px;
    padding-top: 245px;
    padding-bottom: 245px;
    opacity: 0.5;
  filter: alpha(opacity=50);  

    /*set the parallax*/
    background-attachment: fixed;
}

.footer{
    left: 5;
    bottom: 5;
    padding: 5%;
    text-align: center;
    background-color: black;
    width: 100%;
    color: white;
    display: inline-block;
    
}

.imgcontact{
    filter: grayscale(100%);
    width: 30px;
    height: 30px;
    margin-left: 1em;
    margin-right: 1em;
}

.imgcontact:hover{
  cursor: pointer;
  transition: .5s;
  filter: none;
  
}

@media screen and (max-width: 600px){
    .imagewebtoon{
        margin:2% !important; 
        padding: 0% !important;
        object-fit: cover;
    }
}





body {
  background: #252827;
  font-size: 16px;
}

p {
  font-weight: 300;
}

strong {
  font-weight: 600;
}

h1 {
 letter-spacing: 1.5px;
 color: white;  
 font-weight: 400;
 font-size: 2.4em;
}

#content {
  margin-top: 50px;
  text-align: center;  
}

/* Timeline */

.timeline {
  border-left: 4px solid black;
  
  background: fade(black, 3%);
  color: fade(black, 80%);
  /*margin: 50px auto;  */
  letter-spacing: 0.5px;   
  line-height: 1.4em;
  font-size: 1.03em;   
  padding: 50px;   
  list-style: none;
  text-align: left;  
  font-weight: 100;  
  max-width: 100%; 
  
  
}
  

.event {
    /*border-bottom: 1px dashed fade(white, 10%);*/
    padding-bottom: (50px * 0.5);
    margin-bottom: 50px;  

  }


#twelfthpage{
    background-color: darkgray;
    text-align: left;
}

.form-group{
    background-color: maroon;
    color:white;
    margin-right: 20%;
    margin-left: 20%;
    padding: 1%;
}
 
#submitbutton{
    color: black;
    text-align: center;
}


.tableform{
    margin: 15%;
    margin-top: 15%;
}

.tableresult{
    margin: 15%;
    margin-top: 15%;
}
