<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'layout/base.html' %}
    {% load staticfiles %}
    {% load static %}
    {%block content %}

    <title>Alya Isti</title>

    <style>
    </style>


  </head>

  <body>
    {% include "partials/navbar.html" %}
    <button onclick="topFunction()" id="myBtn" title="Go to top"><img src="{% static 'images/up-arrow.png' %}" width=10px height=10px> </button>

    <!-- Start Content -->
    {% include 'content/home.html' %}
    {% include 'content/about.html' %}


    {% include 'content/education.html' %}

    {% include 'content/experiences.html' %}

    {% include 'content/skills.html' %}

    {% include 'content/portfolio.html' %}

    {% include 'content/achievements.html' %}
    <!-- End Content -->

    <div class="jumbotron" id="tenthpage">
    </div>

    {% include "partials/footer.html" %}


    {% endblock %}
  </body>






</html>
